[Unit]
Description=Aliendalvik main bridge connman DBus shim
After=dbus.socket
Requires=dbus.socket

[Service]
Type=dbus
BusName=net.connman
Restart=always
ExecStart=/usr/bin/apkd-bridge-user-connman-shim
