[Unit]
Description=Aliendalvik keyboard maliit DBus shim
After=dbus.socket graphical-session.target
Requires=dbus.socket graphical-session.target

[Service]
Type=simple
Restart=always
RestartSec=5
ExecStart=/usr/bin/alienkeyboard-maliit-shim/alienkeyboard-maliit-shim
