[Unit]
Description=Aliendalvik container
Requires=systemd-user-sessions.service network.target lxc-net.service aliendalvik-config.service
BindsTo=aliendalvik-user-dependencies.service
After=systemd-user-sessions.service network.target lxc-net.service aliendalvik-config.service

[Service]
Type=notify
NotifyAccess=all
TimeoutSec=180
Restart=never
RestartSec=3
RestartPreventExitStatus=32
ExecStart=/usr/bin/aliendalvik
ExecStop=/usr/bin/lxc-attach --name=aliendalvik --lxcpath=/tmp/appsupport -- /system/bin/reboot -p

[Install]
WantedBy=graphical.target
